<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IeltsSpeakingAssistantExtractor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
      <IeltsSpeakingAssistantExtractor.Properties.Settings>
            <setting name="LaTexLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="ResultFolderLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="IdeasPrefix" serializeAs="String">
                <value>+Ideas</value>
            </setting>
            <setting name="AnswerPrefix" serializeAs="String">
                <value>+Answers</value>
            </setting>
            <setting name="IsDictionary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsAnswers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsIdeas" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResultFileName" serializeAs="String">
                <value>IELTS_Assistant</value>
            </setting>
            <setting name="DictionaryPrefix" serializeAs="String">
                <value>+Dictionaries</value>
            </setting>
        </IeltsSpeakingAssistantExtractor.Properties.Settings>
    </userSettings>
</configuration>